//
// Styling of breadcrumbs

@import '../base.scss';


/* Breadcrumbs
========================================================================== */
.breadcrumb-wrapper {
	background-color: $grey-light;
	@include media($mobile) {
		display:none;
	}
}

.breadcrumb {
	@include wrapper;
	padding-top: 10px;

	a:link {
		text-decoration: underline;
	}
	a:hover {
		text-decoration: underline;
	}
	a:visited {
		text-decoration: underline;
	}
}