 /**
 * menucard
 * *
 * @author agms.
 */

@import '../base.scss';

/* Menucard
========================================================================== */

/* Nid on biblioteket.sonderborg.dk (webform and confirmation) */
/* Has to start with html.js to get rid of png-arrow on collabsible fieldset */

html.js .page-node-2856, html.js .page-node-2271, html.js .page-node-1421, body.page-node-1441 {

	.content-wrapper .pane-content .ding2-site-template .panel-pane {
		background-image: url("/sites/default/files/chalkboard-background.jpg");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-color: #255e3b;
		color: $white;
	}

	.content-wrapper .form-item {
		max-width: none;
	}

	.node-webform {
		padding: 20px;
		padding-top: 0;

		.field-name-field-ding-page-body a:link, .webform-component--footer a:link{
			color: $white;
			text-decoration: underline;
		}
		.field-name-field-ding-page-body a:visited, .webform-component--footer a:visited {
			color: $white;
			text-decoration: underline;
		}
		.page-image {
			margin: 0;
		}

		h1.page-title {
			color: $white;
		}

		.page-content {
			@include font('display');
		}
	}



	.illustrations {
		text-align: center;
	}
	.illustration1 {
		@include span-columns(4);
	}
	.illustration2 {
		@include span-columns(4);
	}
	.illustration3 {
		@include span-columns(4);
	}
	.clearill {
		clear: both;
	}



	.pane-node-content h2.pane-title {
		display: none;
	}


	.webform-component-date .webform-calendar {
		left: 120px;
	}

	.webform-client-form .webform-component.webform-component-display {
		margin-bottom: 0;
		p {
			margin-bottom: 20px;
		}
	}

	.webform-client-form .webform-component.webform-component-checkboxes {
		margin-bottom: 0;	
	}

	.webform-client-form .webform-component-fieldset {
		@include span-columns(12);
	}








	fieldset {
		.fieldset-title {
			color: white;
			@include font('display');
		}
	}

}

