//
// Styling of content type Ding Group

@import '../../base.scss';

// Make primary content span 100%
.node-type-ding-group .content-wrapper .pane-content .default-panel-layout .left-and-main-content .layout-wrapper .primary-content {
	width: 100%;
}

// Hide group menu on large screen. It is a dublicate of secondary menu.

.node-type-ding-group .content-wrapper .pane-content .default-panel-layout .left-and-main-content .layout-wrapper .secondary-content {
	display: none;
	@include media($tablet) {
		display: block;
	}
}

