@import '../../base.scss';

//
// Styling of content type Ding Event

.node-ding-event {
	// ==========================================================================
	// Teaser
	// ==========================================================================
	&.node-teaser {
		// Hide price on event listings
		.price{
			display:none;
		}

		// Make comma-separated list of categories because we have more than one
		.field-name-field-ding-event-category {
			margin-bottom: 10px;
			.field-items .field-item {
				display: inline;

				&:after {
					content: ", ";
				}

				&:last-child:after {
					content: "";
				}
			}
		}
	}
	// ==========================================================================
	// Full
	// ==========================================================================
	&.node-full {

		// Hide location in event details. It is sufficient with library, because
		// it print location if no library is selected.
		.field-name-field-ding-event-location{
			display:none;
		}

		// Colors on place2book buttons
		> .inner {
			> .left {
				.button {
					&.ticket-available {
            background-color: $color-primary;
            a {
            	color: $color-text-on-primary;
            }

            &:hover {
              background-color: $green-text;
              a {
              	color: $color-text-on-primary;
              }
            }
          }

          &:hover {
            background-color: $grey-medium;
            color: $color-text-on-primary;
          }
				}
			}
		}
	}
}