//
// Styling of content type Ding News

@import '../../base.scss';

.node-ding-news {
	// ==========================================================================
	// Teaser
	// ==========================================================================
	&.node-teaser {

		.info-dash {
			display: inline;
		}

		.submitted {
			display: inline;

		}
	}

	// ==========================================================================
	// Full
	// ==========================================================================
	&.node-full {
		.ding-news-left {
			@include span-columns(4);

			// Tablet
			@include media($tablet) {
				@include span-columns(6);
			}

			// Mobile
			@include media($mobile) {
				@include span-columns(12);
				margin-bottom: 20px;
			}
		}
		.ding-news-right {
			@include span-columns(5);

			// Tablet
			@include media($tablet) {
				@include span-columns(6);
				margin-right: 0;
			}

			// Mobile
			@include media($mobile) {
				@include span-columns(12);
				margin-right: 0;
			}
		}
	}
}