//
// Styling of site header

@import '../base.scss';

.site-header {
  // ==========================================================================
  // Topbar
  // ==========================================================================
  .topbar {
  	box-shadow: none;
  	background-color: $mkh-blue;

  	background-size: 592px 100px;
		background-repeat: repeat-x;
		background-position: 39% 0;
	}

	.topbar-inner {
		height: 74px;
		.topbar-menu {
			box-shadow: none;
		}
		.site-name-container {
			height: 60px;
			// Display logo on mobile devices
			@include media($mobile) {
				&.logo-container img {
					display: block;
				}
				&.logo-container .site-name {
					display: none;
				}

			}
		}
		.logo {
			@include media($tablet) {
				background-color: transparent;
				height: 74px;
				box-shadow: none;
			}
		}
	}
}

// ==========================================================================
// Search Form
// ==========================================================================

// Make search box and ting_field_search align
#search-block-form .form-item-ting-field-search {
	margin-top: 0;
}

.search-form-extended.front .site-header .header-inner .pane-search-form, .search-form-extended.page-search .site-header .header-inner .pane-search-form {
	box-shadow: none;
}

.search-form-extended .site-header .header-inner .pane-search-form {
	box-shadow: none;
	background: linear-gradient(to right, 
		$mkh-blue1 84px, $mkh-blue4 84px, 
		$mkh-blue4 168px, $mkh-blue5 168px, 
		$mkh-blue5 252px, $mkh-blue2 252px,
		$mkh-blue2 336px, $mkh-blue3 336px);
	background-size: 336px 100px;
	background-repeat: repeat-x;
	background-position: 39% 0;
}

.site-header .header-inner .pane-search-form .form-actions input[type=submit] {
	border-radius: 0;
}

.site-header .header-inner .pane-search-form .form-item-search-block-form input[type=text] {
	border-radius: 0;
}


// ==========================================================================
// Navigation
// ==========================================================================
.site-header>.navigation-wrapper {
	box-shadow: none;
	background-color: $mkh-blue;
}


.site-header .topbar-inner .topbar-menu {
	@include media($tablet) {
		background-color: $mkh-blue;
	}
}