//
// Styling of menus

@import '../base.scss';

ul.topbar-menu li.topbar-link-search a {
	background-color: $color-text-link;
}

ul.main-menu-third-level li a {
	color: $color-primary;
}

.main-menu-wrapper>ul.main-menu>li {
	padding: 40px 0 20px 0;
}
@include media($tablet) {
	.main-menu-wrapper>ul.main-menu>li {
		padding: 0;
	}
}

// Increase margin above topbar buttons on large screens
ul.topbar-menu li {
	&.topbar-link-opening-hours a, &.topbar-link-signout a, &.topbar-link-user-account a, &.topbar-link-user a {
		margin: 10px 0;
	}
}

@include media($tablet) {
	ul.topbar-menu li {
		&.topbar-link-opening-hours a, &.topbar-link-signout a, &.topbar-link-user-account a, &.topbar-link-user a {
			margin: 5px 0;
		}
	}
}

