//
// Styling of Ting object

@import '../../base.scss';

// ==========================================================================
// Teaser
// ==========================================================================

.ting-object.view-mode-teaser>.inner .field-name-ting-author {
  color: $color-text-link-on-dark;
    
  a:hover {
    color: $color-text-link-on-dark;
  }

}

// Change color on links in search result

.ting-object.list-item-style .field-name-ting-title h2 a {
	color: $color-text-link;
}

.ting-object.list-item-style .search-result--availability p a {
	color: $color-text-link;
}
 