//
// General styling for all panels and class specific styling for panels

@import '../../base.scss';

// ==========================================================================
// General
// ==========================================================================

//Insert space in event-menu below first menu item that has a next sibling that contains the word Aktiviteter
.panel-pane {
  // Sub menu
  ul.sub-menu {
    li.spacebelow {
      margin-bottom: 40px;
    }
  }
}


// Make Logged in user text white

.panel-pane.pane-current-user-name h2 {
	color: $white;
}
.panel-pane.pane-current-user-name .pane-content {
	color: $white;
}